body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: honeydew;
}
#container {
    width: 600px;
    height: 700px;
    position: relative;
    margin: 40px auto;
}
#container img {
    width: 600px;
    height: 700px;
    border-radius: 4px;
}
#content {
    position: absolute;
    top: 6%;
    left: 10%;
}